

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #212428;
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    height: 60%;
    z-index: 10;
    padding: 50px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

.popup .close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    font-size: 34px;
    font-weight: bold;
}

.popup p {
    font-size: 16px;
}